<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="styfle.css">
    <script src="./script.js"></script>
    <style>
    
    </style>
</head>

<body ng-controller="myController">

    <h1>TodoList
    </h1>ss

    <h3>total count todos:- {{todolength}}</h3>
    <ul>
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span ng-class="{'tododone': todo.done}" >{{todo.msg}}</span>
        </li>
    </ul>
    
    <form>
        <input type="text" ng-model="todomsg">
        <button ng-click="todoAdd()">Add Todo</button>
    </form>
    hello this is my datas
    hiii
</body>

</html>